<table class="module" style="table-layout: fixed;" role="module" border="0" width="100%" cellspacing="0" cellpadding="0"
    data-type="text">
    <tbody>
        <tr>
            <td style="padding: 0px 0px 0px 10px;">
                <p style="font-size: 24px; font-weight: 600; text-transform: capitalize; padding: 0 0 20px;">Confirm New
                    Beneficiary</p>
                <p style="font-size: 16px; font-weight: 400; padding: 0 0 30px;">Hi <%= @user.email %>,</p>
                <p style="font-size: 16px; font-weight: 400; padding: 0 0 30px;">A request has been received to create a
                    new Beneficiary record with the following Details:</p>

                <ul>
                    <li style="font-size: 16px; font-weight: 400;">Currency: <span
                            style="font-weight: 500; text-transform: uppercase;">
                            <%= @record.currency %>
                        </span></li>
                    <li style="font-size: 16px; font-weight: 400;">Network: <%= @record.blockchain_key %></span></li>
                    <li style="font-size: 16px; font-weight: 400;">Beneficiary Name: <%= @record.name %>
                    </li>
                    <li style="font-size: 16px; font-weight: 400;">Description: <%= @record.description %>
                    </li>
                </ul>

                <p>Your PIN code to verify this new beneficiary is: <strong>
                        <%= @record.pin %>
                    </strong>.</p>

                <p><strong>Note:</strong> This PIN code will expire after 60 minutes.</p>
            </td>
        </tr>
    </tbody>
</table>